.footer {
    background-color: #000;
    color: #fff;
    padding: 100px 0;
    font-family: Arial, sans-serif;
    min-height: 300px;
}



.footer-content {
    display: flex;
    align-items: center; /
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto; /
    padding: 0 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-logo {
    width: 150px;
    height: auto;
}

.footer-info {
    text-align: left;
    max-width: 400px;
    line-height: 1.8;
}

.footer-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.footer-info p {
    margin: 5px 0;
}

.footer-info a {
    color: #00aaff;
    text-decoration: none;
}

.footer-info a:hover {
    text-decoration: underline;
}


.footer-bottom {
    margin-top: 80px;
    border-top: 1px solid #333;
    padding-top: 30px;
    font-size: 0.9rem;
    text-align: center;
    color: #ccc;
}
