
.header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url("/images/20.jpg");
    padding: 0;
    margin: 0;
    position: relative;
    height: 90vh;
    clip-path: ellipse(95% 75% at 50% 25%);
}


.text-container {
    text-align: left;
    color: #333;
    max-width: 800px;
    animation: fadeIn 1.5s ease-in-out;
    padding-left: 50px;
    z-index: 10;
}


.header-title1 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    letter-spacing: 0.05rem;
    color: #333;
}


.header-title2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 0;
    line-height: 1.2;
    color: black;
}


.header-image {
    position: absolute;
    right: 10%;
    top: 45%;
    transform: translateY(-50%);
    z-index: 5;
    padding: 10px;
    border-radius: 8px;
}
.header-image-2 {
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 5px;
    border-radius: 50%;
}

.header-image-2 img {
    width: 450px;
    height: auto;
    display: block;
    opacity: 0.1;
}
.header-image img {
    width: 450px;
    height: auto;
    display: block;

}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 768px) {
    .text-container {
        padding-left: 20px;
    }

    .header-title1 {
        font-size: 1.2rem;
    }

    .header-title2 {
        font-size: 1.8rem;
    }

    .header-image {
        top: 30%;
        right: 1%;
    }

    .header-image img {
        width: 150px;
    }
}
@media (min-width: 1024px) and (max-width: 1300px){

    .header-image {
        top: 45%;
        right: 7%;
    }


    .header-image img {
        width: 300px;
    }

    .header-title1 {
        font-size: 1.2rem;
    }

    .header-title2 {
        font-size: 1.8rem;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    .header-image {
        top: 35%;
        right: 7%;
    }


    .header-image img {
        width: 200px;
    }
    .header-title1 {
        font-size: 1.2rem;
    }

    .header-title2 {
        font-size: 1.8rem;
    }
}