.ref-content-h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 40px;
    color: #000;
    text-align: center
}
.ref-content-h2 {
    margin-bottom: 30px;
    font-weight: normal;
    text-align: center;
    font-size: 1.8rem;
}
.itc{
    transform: translateY(20px);
}
.adjust-position img {
    transform: translateY(40px);
}
.carousel-item{
    margin-top: 50px;
}
@media (max-width: 1200px) {
    .itc {
        width: 85%;
    }
    .itc-1 {
        width: 60%;
    }
    .itc-2{
        transform: translateY(10px);
        width: 85%;

    }
}
@media (min-width: 1920px) {
    .itc {
        width: 100%;
    }
    .itc-1 {
        width: 100%;
    }
    .itc-2{
        width: 100%;


    }
}




