/* Genel Carousel Yapısı */
.team {
    text-align: center;
    padding: 2rem 1rem;
    background-color: white; /* Beyaz arka plan */

}
.team-carousel-item{
    margin-top: 20px;
}
.team-carousel .slick-list {
    width: 95%; /* Genişliği düşür */
    margin: 0 auto; /* Ortalamayı sağla */
    transform: translateX(0); /* Varsayılan pozisyonda bırak */
}
.ant-carousel .slick-prev,
.ant-carousel .slick-next {
    color: black;
    top:45%;

}

.team-profile-pic {
    width: 140px;
    height: 140px;
    border-radius: 15px; /* Adjust this value for softer corners */
    object-fit: cover; /* Ensures the image fills the square without distortion */
    border: 2px solid grey; /* Optional: Add a border for better visibility */
    margin: 0 auto; /* Centers the image inside the container */
}
.team-cont {
    margin-top: 15px; /* Adds space between the image and the title/name */
    text-align: center; /* Centers the text below the image */
}

.team-cont h3 {
    margin-bottom: 5px; /* Space between name and title */
}

.team-cont p {
    margin: 0; /* Ensures no extra spacing below the title */
}

.team-carousel-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;/* Hover sırasında büyüme efekti */
}






.team h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
}

.team h2 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: normal;
    margin-bottom: 2rem;
}


@media (max-width: 768px) {
    .team-carousel-item {
        max-width: 160px;
        margin: 0 auto;
    }

}

@media (max-width: 480px) {
    .team-carousel-item {
        max-width: 150px;
        margin: 0 auto;
    }

}






